.App {
  text-align: center;
  min-height: 100vh;
  font-size: 5vw;
}

.App-header {
  color: #000;
  background: #eee;
}

.vote__counter {
  background-color: #fff;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

main  {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 400px;
}

main span {
  display: block;
  height: 50px;
}

.scooter__logo {

}

.scooter__logo img {
  /*pointer-events: none;*/
  /*animation: App-logo-spin infinite 4s linear;*/
  height: 200px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.vote__buttons {
  display: flex;
}

.vote__buttons button {
  height: 10vh;
  background: #eee;
  border: 2px solid white;
  width: 100%;
  font-size: 4vw;
  padding: 10px 0;
} 
