body {
  margin: 0;
  padding: 0px;
  font-family: 'Open Sans','Verdana', sanserif;
  font-size: 4vw;
}

.scooter__app {
  text-align: center;
  min-height: 100vh;
}

.scooter__header {
  color: #000;
  background: #eee;
}

.vote__counter {
  background-color: #fff;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

main  {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
}

main span {
  display: block;
  height: 50px;
}

.scooter__logo img  {
  height: 200px;
}

.yes__spin img, .not__spin img {
  /*height: 200px;*/
}

.yes__spin img {
  pointer-events: none;
  animation: App-logo-spin infinite .5s linear;
}

.not__spin img {
  animation: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.vote__buttons {
  display: flex;
}

.vote__buttons button {
  height: 10vh;
  background: #eee;
  border: 2px solid white;
  width: 100%;
  font-size: 4vw;
  padding: 10px 0;
  color: #000;
} 

.yes__pressed {
  /*background: #000 !important;*/
  /*color: #fff !important;*/
}